In [1]:
import sqlalchemy as db

In [12]:
engine = db.create_engine('sqlite:///college.db', echo = True)
connection = engine.connect()

In [15]:
metadata = db.MetaData()
students = db.Table(
   'students', metadata, 
   db.Column('id', db.Integer, primary_key = True), 
   db.Column('name', db.String), 
   db.Column('lastname', db.String),
)
metadata.create_all(engine)
census = db.Table('students', metadata, autoload=True, autoload_with=engine)

2022-04-28 13:47:07,863 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-28 13:47:07,864 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-04-28 13:47:07,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-28 13:47:07,866 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
# Print full table metadata
print(repr(metadata.tables['students']))

Table('students', MetaData(), Column('id', Integer(), table=<students>, primary_key=True, nullable=False), Column('name', String(), table=<students>), Column('lastname', String(), table=<students>), schema=None)

In [17]:
# Print full table metadata
print(repr(metadata.tables['students']))

Table('students', MetaData(), Column('id', Integer(), table=<students>, primary_key=True, nullable=False), Column('name', String(), table=<students>), Column('lastname', String(), table=<students>), schema=None)

In [18]:
#Equivalent to 'SELECT * FROM census'
query = db.select([census]) 
ResultProxy = connection.execute(query)

2022-04-28 13:51:31,007 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-04-28 13:51:31,009 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ()

In [19]:
ResultSet = ResultProxy.fetchall()

In [20]:
ResultSet[:3]

[]

SQLAlchemy ORM with postgresql

In [2]:
db_engine = db.create_engine('postgresql://postgres:postgres@localhost:5432/alchemy',echo = False)

In [5]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
Session = sessionmaker(bind=db_engine)
session = Session()

In [4]:
Base = declarative_base()

create table:

In [5]:
class Employee(Base):
    try:
        __tablename__ = 'employee'
        id = db.Column(db.Integer,primary_key = True)
        name = db.Column(db.String(50))
        age = db.Column(db.Integer)
        field = db.Column(db.String(50))
    except:
        pass
try:
    Base.metadata.create_all(db_engine)
except:
    pass

insert data:

In [6]:
emp1 = Employee(name="Pakeeza", age=22, field="AI")
emp2 = Employee(name="Ahmad", age=23, field="Python")

In [7]:
# session.add(emp1)
session.add_all([emp1,emp2])
session.commit()

get data:

In [8]:
employees = session.query(Employee)

In [9]:
for emp in employees:
    print(emp.name)

Pakeeza
Ahmad

In [10]:
employees = session.query(Employee).order_by(Employee.name)

In [11]:
for emp in employees:
    print(emp.name)

Ahmad
Pakeeza

In [13]:
emp = session.query(Employee).filter(Employee.name == "Ahmad").first()
print(emp.name,emp.age,emp.field)

Ahmad 23 Python

In [15]:
employees = session.query(Employee).filter(db.or_(Employee.name == "Ahmad",Employee.age == 22))
for emp in employees:
    print(emp.name)

Pakeeza
Ahmad

update data:

In [16]:
emp = session.query(Employee).filter(Employee.name == "Ahmad").first()
emp.name = "Ahmad Mujtaba"
session.commit()

In [18]:
employees = session.query(Employee)
for emp in employees:
    print(emp.name)

Pakeeza
Ahmad Mujtaba

delete data:

In [19]:
emp = session.query(Employee).filter(Employee.name == "Ahmad Mujtaba").first()
session.delete(emp)
session.commit()

In [20]:
employees = session.query(Employee)
for emp in employees:
    print(emp.name)

Pakeeza

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()
conn = db_engine.connect()

In [4]:
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

In [34]:
meta.create_all(db_engine)

In [35]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

In [37]:
s = students.select()
result = conn.execute(s)
for s in result:
    print(s)

(1, 'Ravi', 'Kapoor')

In [39]:
row = result.fetchone()
for row in result:
   print(row)

In [41]:
s = students.select().where(students.c.id>0)
result = conn.execute(s)

for row in result:
   print (row)

(1, 'Ravi', 'Kapoor')

In [43]:
from sqlalchemy import text
t = text("SELECT * FROM students")
result = conn.execute(t)

In [45]:
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'R', y = 'L').fetchall()

[]

In [47]:
from sqlalchemy.sql import alias,select
st = students.alias("a")
s = select([st]).where(st.c.id>0)

In [48]:
conn.execute(s).fetchall()

[(1, 'Ravi', 'Kapoor')]

In [51]:
stmt=students.update().where(students.c.lastname=='Kapoor').values(lastname='Khanna')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

[(1, 'Ravi', 'Khanna')]

In [52]:
from sqlalchemy.sql.expression import update
stmt = update(students).where(students.c.lastname == 'Khanna').values(lastname = 'Kumar')

In [53]:
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

[(1, 'Ravi', 'Kumar')]

In [5]:
addresses= Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, db.ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

In [ ]:
meta.create_all(db_engine)

In [13]:
s= addresses.insert().values( [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   ])
conn.execute(s)

In [14]:
from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
   print (row)

(1, 'Ravi', 'Kumar', 6, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kumar', 7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')

In [7]:
stmt = students.update().\
values({
   students.c.name:'xyz'
}).\
where(students.c.id == addresses.c.id)
conn.execute(stmt)

In [9]:
from sqlalchemy import join
from sqlalchemy.sql import select
j = students.join(addresses, students.c.id == addresses.c.st_id)
stmt = select([students]).select_from(j)
result = conn.execute(stmt)
result.fetchall()

[(1, 'Ravi', 'Kumar'), (1, 'Ravi', 'Kumar')]

In [10]:
#SQLAlchemy Core - Using Conjunctions
from sqlalchemy import and_
stmt = select([students]).where(and_(students.c.name == 'Ravi', students.c.id <3))
result = conn.execute(stmt)
result.fetchall()

[(1, 'Ravi', 'Kumar')]

In [12]:
from sqlalchemy import or_
stmt = select([students]).where(or_(students.c.name == 'Ravi', students.c.id <3))
result = conn.execute(stmt)
result.fetchall()

[(1, 'Ravi', 'Kumar')]

In [13]:
from sqlalchemy import asc
stmt = select([students]).order_by(asc(students.c.name))
result = conn.execute(stmt)
result.fetchall()

[(1, 'Ravi', 'Kumar')]

In [14]:
from sqlalchemy import desc
stmt = select([students]).order_by(desc(students.c.lastname))
result = conn.execute(stmt)
result.fetchall()

[(1, 'Ravi', 'Kumar')]

In [15]:
from sqlalchemy import between
stmt = select([students]).where(between(students.c.id,2,4))
result = conn.execute(stmt)
result.fetchall()

[]

In [16]:
from sqlalchemy.sql import func
result = conn.execute(select([func.now()]))
print(result.fetchone())

(datetime.datetime(2022, 4, 29, 9, 44, 21, 926735, tzinfo=datetime.timezone(datetime.timedelta(seconds=18000))),)

In [17]:
from sqlalchemy.sql import func
result = conn.execute(select([func.count(students.c.id)]))
print (result.fetchone())

(1,)

In [18]:
result = conn.execute(select([func.max(students.c.lastname).label('Name')]))

print (result.fetchone())

('Kumar',)

In [20]:
u = db.union(addresses.select().where(addresses.c.email_add.like('%@gmail.com' )))
result = conn.execute(u)
result.fetchall()

[(6, 1, 'Shivajinagar Pune', 'ravi@gmail.com'),
 (7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')]

In [21]:
u = db.union_all(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.email_add.like('%@yahoo.com')))
result = conn.execute(u)
result.fetchall()

[(6, 1, 'Shivajinagar Pune', 'ravi@gmail.com'),
 (7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')]

In [22]:
u = db.except_(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Pune')))
result = conn.execute(u)
result.fetchall()

[(7, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')]

In [23]:
u = db.intersect(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Pune')))
result = conn.execute(u)
result.fetchall()

[(6, 1, 'Shivajinagar Pune', 'ravi@gmail.com')]